.login-page {
  display: grid; 
  grid-template-columns: 33% auto 33%;
  background-color: #fff;
  height: 100vh;
}
.login-bloc {
  margin-top: 7em;
  grid-column-start: 2;
  border: 1px solid #00dffc;
  border-radius: 10px;
  padding: 2em;
  background-color: #fff;
  height: 40%;
  box-shadow: 0 0 4px 0 rgba(116, 40, 23, 0.15);
  display: grid;
  grid-template-rows: 15% 60% 10% 15%;
}
.login-title {
  display: grid;
  color: #00dffc;
  border-bottom :1px solid #00dffc;
  grid-row-start: 1;
  align-self: flex-start;
}
.login-title-h2 {
  padding: 1em;
  justify-self: center;
}
.login-inputs {
  grid-row-start: 2;
  align-self: center;
}
.redirection-links {
  grid-row-start: 3;
  text-align: end;
  display: grid;
  grid-template-columns: 30% auto 15%;
  .register-redirect {
    .b-link {
      font-size: small;
      color: #00dffc;
      margin-top: 5em;
      font-weight: bold;
    }
  }
  .reset-password {
    .b-link {
      font-size: small;
      color: #00dffc;
      margin-top: 5em;
      font-weight: bold;
    }
  }
}

.buttons {
  margin-top: 2em;
  display: grid; 
  grid-template-columns: 20% auto 20%;
  grid-gap: 2em;
  grid-template-rows: 1fr;
  grid-row-start: 4;
}
.v-btn {
 color: #00dffc !important;
}

.v-btn:hover {
  background-color: #00dffc !important;
  color: #fff !important;
}
.btn-cancel {
  grid-column-start: 1;
}
.btn-submit {
  grid-column-start: 3;
}
.fa-key, .fa-eye, .fa-eye-slash, .fa-envelope:before  {
  font-size: medium !important;
  margin: 1em;
}


.v-input__slot {
  margin-left: 1em;
}
