.trombi-page {
  display: grid; 
  grid-template-rows: 25px auto;
  height: 78vh;
  grid-template-columns: 1fr;
  margin: 1em 2em;
  padding-bottom: 2em;
  .trombi-page-title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #262a3e;
    padding: 2em;
    border-bottom :1px solid #6f68ed;
    box-shadow: 0 0 4px 0 rgba(116, 40, 23, 0.15);
    margin-bottom: 1em;
    width: 80% !important;
    justify-self: center;
    .trombi-page-title-h2 {
      grid-column-start: 2;
      text-align: center;
    }
  }
  .trombi {
    width: 80%;
    margin-top: 3.5em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
    justify-self: center;
    box-shadow: 0 0 4px 0 rgba(116, 40, 23, 0.15);
    padding: 1em;
    overflow-y: scroll;
  }
}
