.bar {
  background-color: #6f68ed !important;
  height: 170px !important;
}

.v-tab {
  margin-left: 2em;
}

.v-toolbar__title {
  text-overflow: visible;
  margin-right: 3em;
  padding-right: 3em;
  width: 40%;
}
.route {
  text-decoration: none;
  color: #fff;
}
