.register-page {
  display: grid; 
  grid-template-columns: 30% auto 30%;
  background-color: #6f68ed;
  height: 100vh;
} 
.register-bloc {
  margin-top: 2em;
  grid-column-start: 2;
  border: 1px solid #6f68ed;
  border-radius: 10px;
  padding: 2em;
  background-color: #fff;
  height: 75%;
  box-shadow: 0 0 4px 0 rgba(116, 40, 23, 0.15);
}
.register-title {
  display: grid;
  padding: 2em;
  color: #262a3e;
  border-bottom :1px solid #6f68ed;
}
.register-title-h2 {
  justify-self: center;
}
.user-infos {
}
.buttons {
  display: grid; 
  grid-template-columns: 20% 20%;
  grid-gap: 2em;
  grid-template-rows: 1fr;
}
.button-cancel {

}
.button-submit {
  justify-self: flex-end !important;
  background-color: #6f68ed !important;
  color: #fff !important;
}
.v-label {
  
}

.v-icon {
  font-size: 1rem;
}